body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  overflow-x: hidden;
}

.blood_components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 200px;
}


.blood_item {
  padding: 20px;
  background-color:transparent;
  text-align:justify;
  max-width: calc(100% - 40px); /* Ensure components fit within the container */
  box-sizing: border-box; /* Include padding and borders in the width */
}
.blood_item img{
  height: 80px;
}
.blood_item h2{
  color: white;
  font-size: 28px;
}
.blood_item p{
  color: #a8a9b1;
  font-size: 18px;
  
}
/* Add media query for responsive layout */
@media (max-width: 768px) {
  .blood_components {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
}
