/* Add Poppins font to all text */
body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
}

.logo img {
  height: 104px;
  width: 150px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center; /* Center the links vertically */
}

a {
  text-decoration: none;
  color: #fff;
}

/* Change hover color for Contact link to pink */
.links a:hover {
  color:rgb(250, 0, 79);
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff; /* Set border to white */
  cursor: pointer;
}

/* Make button transparent with pink text on hover */
.btn:hover {
  background-color:rgb(250, 0, 79);
  color: white;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack components vertically */
    align-items: flex-start; /* Align components to the left */
  }

  .links {
    flex-wrap: wrap; /* Allow links to wrap to the next line */
    margin-top: 10px; /* Add margin to separate components */
  }
}
