@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #f71c10 1.84%, #e6b821 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-bg: #101010;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --neon-glow-size: 30px;
}

*{
    
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.App{
  background-color: #101010;
  
    
}
a {
    color: unset;
    text-decoration: none;
}
            
/* Landing.css */
/* Add these styles to Landing.css */








/* Apply the same adjustments for phone screens (e.g., screens with max-width: 480px) */
@media screen and (max-width: 768px) {
  .App{
    background-color: #101010;
    overflow-x: hidden;
      
  }
  .gradient_bg{
    background-color: #101010;
  }

}

