/* Your existing styles for large screens */
.gradient_text_head {
  padding-right: 30px;
  padding-bottom: 1px;
  padding-left: 30px;
  background:linear-gradient(145deg, #f81f01, #ee076e);
  
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 100px;
  line-height: 100px;

}


@media (max-width: 768px) {
  .gradient_text_head {
    font-size: 60px; /* Adjust the font size as needed for smaller screens */
    line-height: 60px; /* Adjust line height accordingly */
     padding-top: 10px;/* Adjust padding as needed */
    text-align: start; 
  }
}



